@font-face {
  font-family: 'Avenir Next';
  src: url("../assets/Fonts/AvenirNextLTPro-Regular.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url("../assets/Fonts/AvenirNextLTPro-Demi.otf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Avenir Next';
  src: url("../assets/Fonts/AvenirNextLTPro-Bold.otf") format("truetype");
  font-style: normal;
  font-weight: 800;
}

.container {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0 11.25rem;
  }
}

.header {
  height: 80px;
  background-color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .header__navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.header__navbar-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__navbar-logo img {
  width: 7.5rem;
  height: 1.5rem;
}

.header__navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .header__navbar-menu {
    height: 100%;
  }
}

.header__navbar-menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .header__navbar-menu-item {
    max-width: 80px;
    margin-left: 56px;
  }
}

.header__navbar-menu-item--active {
  border-bottom: 4px solid #FFFFFF;
}

.header__navbar-menu-link {
  color: #AFAFAF;
}

.header__navbar-menu-link--active {
  color: #FFFFFF;
}

.hero {
  width: 100%;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__backgroundImage {
  background-color: rgba(50, 50, 50, 0.5);
}

.hero__backgroundImage-about {
  height: 52vw;
  min-height: 183px;
  max-height: 670px;
  background-image: url("../assets/Images/Hero.jpg");
}

.hero__backgroundImage-shows {
  height: 52vw;
  min-height: 472px;
  max-height: 670px;
  background-image: url("../assets/Images/ShowHero.jpg");
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .hero__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
}

.hero__content-shows {
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  margin-top: 4rem;
}

@media screen and (min-width: 768px) {
  .hero__content-shows {
    margin-top: 6rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero__content-shows {
    margin-top: 10rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero__header-shows {
    margin-right: 4rem;
  }
}

.hero__header-title {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .hero__header-title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero__header-title {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

.hero__header-title-shows {
  font-size: 2.8rem;
  line-height: 4.25rem;
  color: #FFFFFF;
}

.hero__header-subtitle {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #AFAFAF;
}

.about {
  padding: 2rem 0 2.5rem 0;
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 3rem 0;
  }
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.about__header {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .about__header {
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .about__container {
    width: 82%;
    margin: 0 auto;
  }
}

.about__image-container {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1200px) {
  .about__image-container {
    margin-bottom: 3rem;
  }
}

.about__quote {
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 1200px) {
  .about__quote {
    margin-bottom: 3.5rem;
  }
}

.about__quote > p {
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 800;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .about__quote > p {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 2.5rem;
  }
}

.about__quote > p::before {
  content: "\201D";
}

.about__quote > p::after {
  content: "\201D";
}

.about__quote > footer {
  font-weight: 600;
}

.about__quote > footer::before {
  content: "- ";
}

.about__subhead {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1200px) {
  .about__subhead {
    margin-bottom: 2rem;
  }
}

.about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .about__info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.about__info--col-container {
  padding-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .about__info--col-container {
    max-width: 50%;
    padding-bottom: 0;
    padding-right: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .about__info--col-container {
    padding-right: 2.5rem;
  }
}

.gallery {
  background-color: #FAFAFA;
  padding: 2rem 0;
}

@media screen and (min-width: 1200px) {
  .gallery {
    padding: 3rem 0 2.5rem 0;
  }
}

.gallery__header {
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .gallery__header {
    margin-bottom: 4rem;
  }
}

.gallery__image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .gallery__image-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: -12px;
  }
}

.gallery__image-container > img {
  padding: 8px 0;
}

@media screen and (min-width: 768px) {
  .gallery__image-container > img {
    padding: 12px;
  }
}

@media screen and (min-width: 768px) {
  .gallery__image {
    width: 33.3%;
  }
}

.footer {
  color: #FFFFFF;
  background-color: #323232;
  padding: 3rem 0;
}

.footer h1,
.footer h2 {
  color: #FFFFFF;
}

.footer__media-info, .footer__contact, .footer__copyright-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer__media-info, .footer__contact, .footer__copyright-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__media-info {
  margin-bottom: 3.5rem;
}

.footer__media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__media-icon {
  width: initial;
  margin-right: 32px;
}

.footer__header {
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .footer__header {
    width: 33.3%;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__header {
    width: 25%;
  }
}

.footer__logo {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer__logo {
    display: block;
    width: 120px;
    height: 24px;
  }
}

.footer__logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.footer__contact {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__contact-name, .footer__contact-location, .footer__contact-email {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .footer__contact-name {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contact-name {
    font-size: 1.5rem;
  }
}

.footer__contact--col-container {
  width: 33.3%;
}

.about {
  padding: 2rem 0 2.5rem 0;
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 3rem 0;
  }
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.about__header {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .about__header {
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .about__container {
    width: 82%;
    margin: 0 auto;
  }
}

.about__image-container {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1200px) {
  .about__image-container {
    margin-bottom: 3rem;
  }
}

.about__quote {
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 1200px) {
  .about__quote {
    margin-bottom: 3.5rem;
  }
}

.about__quote > p {
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 800;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .about__quote > p {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 2.5rem;
  }
}

.about__quote > p::before {
  content: "\201D";
}

.about__quote > p::after {
  content: "\201D";
}

.about__quote > footer {
  font-weight: 600;
}

.about__quote > footer::before {
  content: "- ";
}

.about__subhead {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1200px) {
  .about__subhead {
    margin-bottom: 2rem;
  }
}

.about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .about__info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.about__info--col-container {
  padding-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .about__info--col-container {
    max-width: 50%;
    padding-bottom: 0;
    padding-right: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .about__info--col-container {
    padding-right: 2.5rem;
  }
}

.comments {
  padding: 2rem 0 2.5rem 0;
}

@media screen and (min-width: 1200px) {
  .comments {
    padding: 3rem 0 2.5rem 0;
  }
}

.comments__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .comments__comment-container {
    width: 66.66%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .comments__comment-container {
    width: 50%;
  }
}

.comment__message-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2.5rem;
}

.comment__avatar, .comment__user-avatar {
  margin-top: 1.75rem;
}

.comment__avatar > img, .comment__user-avatar > img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.comment__input-container {
  margin-left: 1.25rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.comment__submit-btn {
  height: 3rem;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #323232;
  border: none;
  border-radius: 4px;
}

.comment__submit-btn:hover {
  background-color: black;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .comment__submit-btn {
    -ms-flex-item-align: end;
        align-self: flex-end;
    max-width: 10rem;
  }
}

.comment__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comment__form > * {
  width: 100%;
}

.comment__form label {
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #AFAFAF;
  margin-bottom: 0.5rem;
}

.comment__form input[type="text"], .comment__form textarea {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  padding: 1rem;
  width: 100%;
  background-color: #FAFAFA;
  margin-bottom: 1.5rem;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .comment__form input[type="text"], .comment__form textarea {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.comment__form input[type="text"]:active, .comment__form textarea:active {
  border: 2px solid #323232;
}

.comment__form input[type="text"] {
  height: 3rem;
}

.comment__form textarea {
  height: 6rem;
}

.comment__usermessage-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem 0;
}

.comment__usermessage-container--divider {
  margin-top: 1.9375rem;
  border-top: 1px solid #E1E1E1;
}

.comment__author-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment__author {
  font-weight: 600;
}

.comment__date {
  margin-left: auto;
  color: #AFAFAF;
}

.comment__message-content {
  margin-top: 1rem;
}

.comment__user-avatar {
  margin-top: initial;
}

.shows {
  padding: 2rem 0;
}

.shows__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media screen and (min-width: 1200px) {
  .shows__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.shows__header {
  margin-bottom: 2.5rem;
}

.shows-list {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .shows-list {
    max-width: 50.25rem;
  }
}

.shows__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.shows__row--divider {
  border-bottom: 1px solid #E1E1E1;
}

.shows__row-subtitle {
  display: none;
}

@media screen and (min-width: 768px) {
  .shows__row-subtitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

.shows__info {
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .shows__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.shows__container {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .shows__container {
    width: 25%;
  }
}

.shows__subtitle {
  color: #AFAFAF;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .shows__subtitle--info {
    display: none;
  }
}

.shows__date {
  font-weight: 600;
}

.shows__venue, .shows__location {
  font-size: 0.9375rem;
}

.shows__buy-btn {
  height: 3rem;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #323232;
  border: none;
  border-radius: 4px;
  width: 100%;
  margin: 0.5rem 0 1rem 0;
}

.shows__buy-btn:hover {
  background-color: black;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .shows__buy-btn {
    width: 160px;
    margin-left: auto;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next';
  color: #323232;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
}

@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

p {
  font-size: 0.8125rem;
  line-height: 1.125rem;
}

@media screen and (min-width: 768px) {
  p {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

h4 {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #AFAFAF;
}

@media screen and (min-width: 768px) {
  h4 {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

h5 {
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #AFAFAF;
}
/*# sourceMappingURL=main.css.map */