$color-black: #323232;
$color-white: #FFFFFF;
$color-silver: #AFAFAF;
$color-mercury: #E1E1E1;
$color-alabaster: #FAFAFA;
$color-instock-blue: #004892;
$color-instock-blue-dark: #002F5F;
$color-brainfix-blue: #0095FF;
$color-brainfix-blue-dark: #0065AD;