.hero{
    height: 52vw;
    min-height: 183px;
    max-height: 670px;
    width: 100%;
    background-color: rgba(50, 50, 50, 0.5);
    background-image: url('../assets/Images/Hero.jpg');
    background-position: center;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;


    &__content{
        display: flex;
        align-items: center;
    }

    &__header-title{
        font-size: 1.5rem;
        line-height: 2rem;
        color: $color-white;

        @include tablet{
            font-size: 2.25rem;
            line-height: 2.75rem;
        }

        @include desktop{
            font-size: 3.75rem;
            line-height: 4.25rem;
        }
    }
}